$colors: (main: rgb(0, 214, 180),
        header: rgb(0, 0, 0),
        font: rgb(250, 250, 250),
        background: rgb(255, 255, 255),
        arrowBackground: transparent,
        forms: rgb(0, 205, 170),
        circle: rgb(193, 193, 193),
        circleBackground: rgb(249, 249, 249),
        priceUnderline: rgb(0, 195, 157),
        formsBuy: rgb(227, 227, 227),
        formsServis: rgb(241, 241, 241),
);
@mixin sliderGradient()
{
  background: -webkit-linear-gradient(0deg, rgb(202, 204, 212) 0%, rgb(248, 248, 248) 100%);
  background: -o-linear-gradient(0deg, rgb(202, 204, 212) 0%, rgb(248, 248, 248) 100%);
  background: -moz-linear-gradient(0deg, rgb(202, 204, 212) 0%, rgb(248, 248, 248) 100%);
  background: linear-gradient(0deg, rgb(202, 204, 212) 0%, rgb(248, 248, 248) 100%);
}