/*contactForm*/
body > section:nth-of-type(5) {
  height: 600px;
}
.fourthSection {
  @include clearFix();
}
.fourthSection > div {
  height: 100px;
}
.fourthSection > div > p {
  @include textUnderline();
  margin: 33px 0 0 4px;
}

.fourthSection #leftForm {
  height: 410px;
  width: 60%;
  float:left;
}
.fourthSection #rightForm {
  width: 40%;
  float:right;
}

.fourthSection > form label:first-of-type > input, 
.fourthSection > form label:nth-of-type(2) > input{
  @include inputField();
  @include inputPlaceholder();
  padding-left:  15px;
  margin-bottom: 28px;
  height: 73px;
}
.fourthSection > form label:first-of-type > input{
  margin-top: 25px;
  text-transform: capitalize;
}

.fourthSection > form label:nth-of-type(3) > textarea {
  @include inputField();
  @include inputPlaceholder();
  text-transform: capitalize;
  height: 208px;
  resize: none;
  padding: 13px 0 0 15px;
}

#rightForm > img {
 width: 288px;
 margin: -5px 0 0 65px;
}

#rightForm .checkbox {
  @include checkbox;
  margin: 4px 0 0 45px;
}

#rightForm .checkbox input {
  @include checkboxInput;
}

#rightForm .checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 22px;
  color: #cecece;
  cursor: pointer;
}

#rightForm .checkbox label::first-letter {
  text-transform: uppercase;
}

#rightForm .checkbox label::before, .checkbox label::after {
  @include checkboxLabelBeforeAfter;
}

#rightForm .checkbox label::after {
  @include checkboxLabelAfter;
}

#rightForm .checkbox input:checked + label::after {
  @include checkboxInputCheckedLabelAfter;
}

.fourthSection #rightForm a   {
  border-radius: 13px;
  padding: 19px 126px 19px 127px;
  margin: 12px 0 0 42px;
  font-size: 35px;
  text-decoration: none;
  text-transform: uppercase;
  background: map_get($colors, 'main');
  color: map_get($colors, 'font');
  font-family: map_get($fonts, 'semiBold');
  position: absolute;
}
