/*contactForm*/
body > section:nth-of-type(5) {
  height: 600px;
  background: lightblue;
}
.fourthSection > div:first-of-type > p {
  @include textUnderline();
  margin: 33px 0 0 4px;
}
.fourthSection > form {
  height: 440px;
  width: 698px;
  background: lightcoral;
  margin: 127px 0 0 3px;
  padding: 0 0 0 0;
  position:absolute;
}
.fourthSection > form > label:first-of-type > input {
  height: 73px;
  width: 698px;
  border: 1px solid map_get($colors, 'main');
  padding: 0 0 0 0;
  margin-bottom: 28px;
}
.fourthSection > form > label:first-of-type > input::placeholder {
  font-size: 35px;
  font-family: map_get($fonts, 'thin');
  text-transform: capitalize;
  padding: 10px 0 0 15px;

}