/*footer*/

footer {
  height: 200px;
  padding-top: 15px;
  background: burlywood;
}
.footerInline {
  display: inline-block;
}
footer .footerInline:first-of-type {
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 2px;
  color: map_get($colors, 'footerFont1');
  margin-top: 32px;
}
footer .footerInline:nth-of-type(2) {
  margin-left:293px;
}
footer .footerInline:last-of-type {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left:65px;
  color: map_get($colors, 'footerFont2');
}
.footerInline > p > span {
  font-weight: bolder;
  color: map_get($colors, 'boxesFont');
}
.footerInline img {
  height: 37px;
  width: 37px;
  margin-right:2px;
}