/*header*/

header  {
  width: 100%;
  height: 45px;
  background: map-get($colors, 'header');
}
header div {
  @include clearFix();
}
header > div > h4  {
  text-transform: uppercase;
  line-height: 45px;
  float: left;
  margin-left: 5px;
  color: map_get($colors, 'font');
}
h4 > span    {
  color: map-get($colors, 'main');
}
nav {
  float:right;
}
ul  {
  list-style: none;
  position: relative;
}
ul > li {
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  width: 120px;
  padding: 3px 0 0 8px;
  font-weight: bolder;
  line-height: 42px;
  color: map_get($colors, 'font');
}
ul > li > ul {
  width: 120px;
  height: 100px;
  position:absolute;
  margin: 6px 0 0 -18px;
  @include arrow(map_get($colors, 'header'));
  display: none;
}

ul > li:hover > ul  {
  display:block;
}
li > a   {
  text-decoration: none;
  display: block;
  color: map_get($colors, 'font');;
}
ul > li > ul > li {
  text-transform: capitalize;
  background: map-get($colors, 'header');
  line-height: 16px;
  padding: 10px 0px 0 12px;
  height: 35px;
  width: 132px;
}