/*imageSection*/
section:nth-of-type(2) > div {
  padding: 28px 0 0 3px;
}
.secondSection {
  display: flex;
  justify-content: space-between;
}
.secondSection > div {
  @include divSecondSection();
}
.secondSection > div:nth-of-type(3) {
  width: 374px;
  height: 278px;
  margin-left: -3px;
  background: lightblue;
}
.secondSection > div:first-of-type {
  background-image: map_get($images, 'secondSectionImg1');
  background-size: contain;
}
.secondSection > div:nth-of-type(2) {
  background-image: map_get($images, 'secondSectionImg2');
  background-size: contain;
}
.divTitle {
  position: absolute;
  background: gray;
  margin: 133px 0 0 0;
  height: 68px;
  width: 364px;

}

.divTitle > p {
  width: 0;
  height: 0;
  margin: 48px 0 0 20px;
  padding: 0 0 0 0;
  position:absolute;
  font-size: 16px;
  text-transform: capitalize;
  font-family: map_get($fonts, 'regular');
  letter-spacing: 2px;
}
.divTitle > p > span {
  font-family: map_get($fonts, 'semiBold');
  text-transform: uppercase;
}

