*   {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}
.container  {
  width:1200px;
  height: 200px;
  margin: 0 auto;
}
@mixin clearFix()
{
  &::before, &::after{
    clear: both;
    content:'';
    display: block;
  }
}
/*arrow_header*/
@mixin arrow($colors) {
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $colors;
    margin: -9px 0 0 48px;
    position:absolute;
  }
}
/*height_slider*/
@mixin sliderHeight()
{
  height: 555px;
}
/*arrow_slider*/
@mixin sliderArrow() {
  content: '';
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  color: map_get($colors, 'main');
}
/*div_secondSection*/
@mixin sectionFlex {
  display: flex;
  justify-content: space-between;
}
@mixin divSecondSection() {
  height: 250px;
  width:364px;
  margin-right: 29px;
  display: flex;
}
$images: (secondSectionImg1: url("../images/box1_img.jpg"),
          secondSectionImg2: url("../images/box2_img.jpg")
);
@mixin divWithTitle {
  position: absolute;
  height: 68px;
  width: 364px;
}
@mixin borderedTitle {
    width:160px;
    margin: 17px 0 0 16px;
    position:absolute;
    font-size: 16px;
    font-family: map_get($fonts, 'medium');
    letter-spacing: 1px;
    border-bottom: 9px solid map_get($colors, 'main');
}
%text {
  text-transform: uppercase;
}